@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow-dark: #c47f17;
  --yellow: #dbac2c;
  --yellow-light: #f1e9c9;
  --purple-dark: #4b2995;
  --purple: #8047f8;
  --purple-light: #ebe5f9;

  --base-title: #272221;
  --base-subtitle: #403937;
  --base-text: #574f4d;
  --base-label: #8d8686;
  --base-hover: #d7d5d5;
  --base-button: #e6e5e5;
  --base-input: #ededed;
  --base-card: #f3f2f2;
  --background: #fafafa;
  --white: #ffffff;
}

@layer components {
  .bg-yellow-dark {
    background-color: var(--yellow-dark);
  }
  .bg-yellow {
    background-color: var(--yellow);
  }
  .bg-yellow-light {
    background-color: var(--yellow-light);
  }
  .bg-purple-dark {
    background-color: var(--purple-dark);
  }
  .bg-purple {
    background-color: var(--purple);
  }
  .bg-purple-light {
    background-color: var(--purple-light);
  }
  .bg-base-title {
    background-color: var(--base-title);
  }
  .bg-base-subtitle {
    background-color: var(--base-subtitle);
  }
  .bg-base-text {
    background-color: var(--base-text);
  }
  .bg-base-label {
    background-color: var(--base-label);
  }
  .bg-base-hover {
    background-color: var(--base-hover);
  }
  .bg-base-button {
    background-color: var(--base-button);
  }
  .bg-base-input {
    background-color: var(--base-input);
  }
  .bg-base-card {
    background-color: var(--base-card);
  }
  .bg-background {
    background-color: var(--background);
  }
  .bg-white {
    background-color: var(--white);
  }
}

@layer components {
  .bg-base-button {
    background-color: var(--base-button);
  }

  .bg-base-input {
    background-color: var(--base-input);
  }

  .text-base-text {
    color: var(--base-text);
  }

  .border-base-hover {
    border-color: var(--base-hover);
  }
}

body {
  font-family: "Baloo 2", "Roboto", sans-serif;
  background-color: var(--background);
  color: var(--base-text);
}

h1,
h2,
h3,
h4 {
  color: var(--base-title);
}

button {
  @apply bg-base-button text-base-text;
}

input {
  @apply bg-base-input text-base-text border border-base-hover;
}
